html, body {
  height: 100%;
}
body {
  margin:0px;
  font-family:sans-serif;
  font-size: 14px;
}
table {
  border-width: 0px;
}
td {
  border-width: 1px;
  vertical-align:top;
}
#ta1 {
  border-collapse: collapse;
  border: #ffffff 0px solid;
}